*{
    margin: 0px;
    padding: o;
 
}


body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    
}
h1{
    font-size: 50px;

}
h3{
    font-size: 30px;
    padding-top: 20px;
}
.md-jasim-color{
    color: orange;

    
}
.anchor-01{
    text-decoration: none;
    background-image: linear-gradient(orange, #F14520);
    color: white;
    padding: 20px;
    border-radius: 5px;
    padding-top: 10px;
}
p{
    padding-top: 10px;
}
.heder-section{
    display: flex;
    margin-bottom: 150px;
    padding: 50px;
   
}
.heder-part-1{
    width: 50%;
}
.heder-part-1 img{
    width: 80%;
}
.top-banner{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;

}
.seond-part{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 30px;
}
.showde-01{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    box-shadow: 10px 10px 40px rgb(240, 148, 10);
}
.sext-big{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#line-ja{
    border-left: 5px solid;
    border-image: linear-gradient(blue, cyan) ;
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 50px;
}

